span{
    display: flex;
    align-items: center;
    color: #a1a1a1;
    font-size: 13px;
    height: 100%;    
}

.superHost{
    border: 1px solid black;
    border-radius: 10px;
    padding: 4px;
    color: black;
    font-size: 10px;
    height: 100%;
}

