.pagBox{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transform: scale(0);
    top: 0;
    z-index: 10;
    align-items: center;
    
}

.show{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transform: scale(1);
    left:0;
    top: 0;
    z-index: 10;
    align-items:center;
    
}

.red:hover{
    color: red;
    cursor: pointer;
    font-size: 17px;
}

.red{
    font-family: 'Mulish', sans-serif;
    color: #4F4F4F;
}

.forma:focus-within{
    outline: 1px black solid;
}

.forma >input::placeholder{
    color: #BDBDBD;
}
